body{
    background-color: blanchedalmond;
    text-align: center;
}
img{
    width: 50%;

}
h1{
    color: chocolate;
}
#i1{
    float: left;
}
h1{
    color: #ff0090;
}
#h{
    color: red;

}
#d{
    color: orange;

}
#e{
    color: yellow;

}
#f{
    color: yellowgreen;

}
#k{
    color: green;

}
#r{
    color: aquamarine;

}
#l{
    color: aqua;

}
#s{
    color: blue;

}
#é{
    color: blueviolet;

}